@page "/Home"
@model QuotEase.Pages.HomeModel
@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html lang="en">
<div style="width: 1275.69px; height: 459.44px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 65px; display: inline-flex">
    <div style="width: 226px; height: 142px; position: relative">
        <div style="left: 0px; top: 79px; position: absolute; text-align: center; color: #958EAF; font-size: 13.94px; font-family: Poppins; font-weight: 300; word-wrap: break-word">Easy way to Quote your business</div>
        <div style="left: 7px; top: 23px; position: absolute"><span style="color: #533D7B; font-size: 43.70px; font-family: Poppins; font-weight: 700; word-wrap: break-word">Quot</span><span style="color: #533D7B; font-size: 43.70px; font-family: Poppins; font-weight: 300; word-wrap: break-word">Ease</span></div>
        <img style="width: 128.74px; height: 142px; left: 48.63px; top: 0px; position: absolute" src="https://via.placeholder.com/129x142" />
    </div>
    <div style="justify-content: flex-start; align-items: flex-start; gap: 100px; display: inline-flex">
        <div style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
            <div style="width: 300px; height: 213.44px; position: relative">
                <div style="width: 200px; height: 200px; left: 49.51px; top: 0px; position: absolute; background: #00C2FF; border-radius: 125px"></div>
                <div style="width: 300px; height: 162.44px; left: 0px; top: 51px; position: absolute">
                    <div style="width: 162.33px; height: 12.57px; left: 0.47px; top: 85.93px; position: absolute; background: white"></div>
                    <div style="width: 20.47px; height: 13.25px; left: 8.83px; top: 15.01px; position: absolute; background: #533D7B"></div>
                    <div style="width: 27.98px; height: 43.37px; left: 267.59px; top: 118.46px; position: absolute; background: #533D7B"></div>
                    <div style="width: 8.44px; height: 44.43px; left: 278.04px; top: 118.01px; position: absolute; background: white"></div>
                    <div style="width: 10.35px; height: 10.85px; left: 268.32px; top: 151.43px; position: absolute; background: white"></div>
                    <div style="width: 23.12px; height: 18.90px; left: 244.36px; top: 97.02px; position: absolute; background: #3F3D56"></div>
                    <div style="width: 6.41px; height: 5.90px; left: 252.28px; top: 101.93px; position: absolute; background: #533D7B"></div>
                    <div style="width: 23.12px; height: 22.28px; left: 244.36px; top: 85.88px; position: absolute; background: #3F3D56"></div>
                    <div style="width: 2.46px; height: 8.35px; left: 251.57px; top: 95.24px; position: absolute; transform: rotate(-47.84deg); transform-origin: 0 0; background: #533D7B"></div>
                    <div style="width: 7.01px; height: 18.33px; left: 217.37px; top: 139.25px; position: absolute; background: #FFB8B8"></div>
                    <div style="width: 15.32px; height: 6.16px; left: 210.28px; top: 156.03px; position: absolute; background: #2F2E41"></div>
                    <div style="width: 7.01px; height: 18.33px; left: 231.33px; top: 139.25px; position: absolute; background: #FFB8B8"></div>
                    <div style="width: 15.32px; height: 6.16px; left: 224.23px; top: 156.03px; position: absolute; background: #2F2E41"></div>
                    <div style="width: 28.68px; height: 75.97px; left: 212.85px; top: 76.92px; position: absolute; background: #2F2E41"></div>
                    <div style="width: 19.04px; height: 19.04px; left: 214.02px; top: 1.25px; position: absolute; background: #FFB8B8"></div>
                    <div style="width: 32.34px; height: 62.76px; left: 210.83px; top: 23.24px; position: absolute; background: #3F3D56"></div>
                    <div style="width: 23.83px; height: 20.53px; left: 210.27px; top: -0px; position: absolute; background: #2F2E41"></div>
                    <div style="width: 12.02px; height: 38.76px; left: 212.37px; top: 41.77px; position: absolute; opacity: 0.20; background: black"></div>
                    <div style="width: 11.70px; height: 19.70px; left: 204.07px; top: 69.07px; position: absolute; background: #FFB8B8"></div>
                    <div style="width: 17.58px; height: 54.30px; left: 204.94px; top: 28.04px; position: absolute; background: #3F3D56"></div>
                    <div style="width: 8.79px; height: 21.48px; left: 242.93px; top: 69.74px; position: absolute; background: #FFB8B8"></div>
                    <div style="width: 18.70px; height: 53.48px; left: 231.68px; top: 30.80px; position: absolute; background: #3F3D56"></div>
                    <div style="width: 148.45px; height: 0.78px; left: 151.55px; top: 161.61px; position: absolute; background: #3F3D56"></div>
                    <div style="width: 34.19px; height: 26.60px; left: 117.41px; top: 52.10px; position: absolute; background: #3F3D56"></div>
                    <div style="width: 21.41px; height: 14.02px; left: 8.11px; top: 14.49px; position: absolute; background: #3F3D56"></div>
                    <div style="width: 38.54px; height: 14.30px; left: 7.64px; top: 58.25px; position: absolute; background: #3F3D56"></div>
                    <div style="width: 11.63px; height: 3.88px; left: 121.90px; top: 57.44px; position: absolute; background: #533D7B"></div>
                    <div style="width: 11.63px; height: 3.88px; left: 121.90px; top: 63.64px; position: absolute; background: #533D7B"></div>
                    <div style="width: 11.63px; height: 3.88px; left: 121.90px; top: 69.84px; position: absolute; background: #533D7B"></div>
                    <div style="width: 11.63px; height: 3.88px; left: 135.47px; top: 57.44px; position: absolute; background: #533D7B"></div>
                    <div style="width: 11.63px; height: 3.88px; left: 135.47px; top: 63.64px; position: absolute; background: #533D7B"></div>
                    <div style="width: 11.63px; height: 3.88px; left: 135.47px; top: 69.84px; position: absolute; background: #533D7B"></div>
                    <div style="width: 162.33px; height: 0.78px; left: 0.47px; top: 33.77px; position: absolute; background: #3F3D56"></div>
                    <div style="width: 162.80px; height: 92.25px; left: -0px; top: 6.47px; position: absolute; background: #3F3D56"></div>
                </div>
            </div>
            <div style="text-align: center; color: #3D4147; font-size: 18px; font-family: Poppins; font-weight: 300; word-wrap: break-word">Quotation</div>
        </div>
        <div style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
            <div style="width: 215.51px; height: 207px; position: relative">
                <div style="width: 200px; height: 200px; left: 0px; top: 0px; position: absolute; background: #FFC700; border-radius: 125px"></div>
                <div style="width: 212.03px; height: 177px; left: 3.49px; top: 30px; position: absolute">
                    <div style="width: 11.39px; height: 19.75px; left: 8.02px; top: 156.71px; position: absolute; background: #2F2E41"></div>
                    <div style="width: 19.23px; height: 11.98px; left: 0px; top: 164.63px; position: absolute; background: #533D7B"></div>
                    <div style="width: 33.13px; height: 0.47px; left: 97.79px; top: 8.50px; position: absolute; background: #F2F2F2"></div>
                    <div style="width: 0.47px; height: 4.38px; left: 121.46px; top: 8.85px; position: absolute; background: #F2F2F2"></div>
                    <div style="width: 0.47px; height: 4.38px; left: 107.02px; top: 8.85px; position: absolute; background: #F2F2F2"></div>
                    <div style="width: 33.13px; height: 0.47px; left: 114.59px; top: 31.21px; position: absolute; background: #F2F2F2"></div>
                    <div style="width: 0.47px; height: 4.38px; left: 123.58px; top: 26.96px; position: absolute; background: #F2F2F2"></div>
                    <div style="width: 0.47px; height: 4.38px; left: 138.02px; top: 26.96px; position: absolute; background: #F2F2F2"></div>
                    <div style="width: 33.13px; height: 0.47px; left: 158.61px; top: 41.86px; position: absolute; background: #F2F2F2"></div>
                    <div style="width: 0.47px; height: 4.38px; left: 167.60px; top: 37.60px; position: absolute; background: #F2F2F2"></div>
                    <div style="width: 0.47px; height: 4.38px; left: 182.04px; top: 37.60px; position: absolute; background: #F2F2F2"></div>
                    <div style="width: 33.13px; height: 0.47px; left: 155.29px; top: 151.66px; position: absolute; background: #F2F2F2"></div>
                    <div style="width: 0.47px; height: 4.38px; left: 164.29px; top: 147.40px; position: absolute; background: #F2F2F2"></div>
                    <div style="width: 0.47px; height: 4.38px; left: 178.72px; top: 147.40px; position: absolute; background: #F2F2F2"></div>
                    <div style="width: 33.13px; height: 0.47px; left: 98.74px; top: 75.70px; position: absolute; background: #F2F2F2"></div>
                    <div style="width: 0.47px; height: 4.38px; left: 107.73px; top: 71.44px; position: absolute; background: #F2F2F2"></div>
                    <div style="width: 0.47px; height: 4.38px; left: 122.17px; top: 71.44px; position: absolute; background: #F2F2F2"></div>
                    <div style="width: 33.13px; height: 0.47px; left: 109.15px; top: 132.73px; position: absolute; background: #F2F2F2"></div>
                    <div style="width: 0.47px; height: 4.38px; left: 118.14px; top: 128.47px; position: absolute; background: #F2F2F2"></div>
                    <div style="width: 0.47px; height: 4.38px; left: 132.58px; top: 128.47px; position: absolute; background: #F2F2F2"></div>
                    <div style="width: 33.13px; height: 0.47px; left: 162.16px; top: 115.46px; position: absolute; background: #F2F2F2"></div>
                    <div style="width: 0.47px; height: 4.38px; left: 171.15px; top: 111.20px; position: absolute; background: #F2F2F2"></div>
                    <div style="width: 0.47px; height: 4.38px; left: 185.58px; top: 111.20px; position: absolute; background: #F2F2F2"></div>
                    <div style="width: 56.03px; height: 25.28px; left: 29.64px; top: 140.88px; position: absolute; background: #2F2E41"></div>
                    <div style="width: 8.47px; height: 8.47px; left: 32.87px; top: 167.58px; position: absolute; background: #3F3D56"></div>
                    <div style="width: 8.47px; height: 8.47px; left: 74.59px; top: 167.58px; position: absolute; background: #3F3D56"></div>
                    <div style="width: 5.24px; height: 5.24px; left: 125.38px; top: 79.29px; position: absolute; background: #3F3D56"></div>
                    <div style="width: 90.64px; height: 44.54px; left: 15.06px; top: 95.01px; position: absolute; background: #2F2E41"></div>
                    <div style="width: 79.62px; height: 39.51px; left: 19.47px; top: 97.74px; position: absolute; background: #F2F2F2"></div>
                    <div style="width: 18.13px; height: 10.13px; left: 106.44px; top: 80.91px; position: absolute; background: #2F2E41"></div>
                    <div style="width: 81.71px; height: 0.40px; left: 19.47px; top: 108.52px; position: absolute; background: #2F2E41"></div>
                    <div style="width: 72.49px; height: 0.40px; left: 24.01px; top: 123.37px; position: absolute; background: #2F2E41"></div>
                    <div style="width: 0.40px; height: 44.14px; left: 60.18px; top: 95.22px; position: absolute; background: #2F2E41"></div>
                    <div style="width: 44.23px; height: 0.40px; left: 75.74px; top: 139.34px; position: absolute; transform: rotate(-86.25deg); transform-origin: 0 0; background: #2F2E41"></div>
                    <div style="width: 0.40px; height: 44.23px; left: 41.74px; top: 95.23px; position: absolute; transform: rotate(-3.73deg); transform-origin: 0 0; background: #2F2E41"></div>
                    <div style="width: 212.03px; height: 0.47px; left: 0px; top: 176.30px; position: absolute; background: #2F2E41"></div>
                    <div style="width: 19.69px; height: 25.92px; left: 140.90px; top: 13.97px; position: absolute; background: #A0616A"></div>
                    <div style="width: 19.69px; height: 25.92px; left: 140.90px; top: 13.97px; position: absolute; opacity: 0.10; background: black"></div>
                    <div style="width: 42.56px; height: 86.77px; left: 134.64px; top: 77.38px; position: absolute; background: #2F2E41"></div>
                    <div style="width: 10.10px; height: 15.43px; left: 142.16px; top: 161.57px; position: absolute; background: #2F2E41"></div>
                    <div style="width: 10.10px; height: 15.43px; left: 165.89px; top: 161.56px; position: absolute; background: #2F2E41"></div>
                    <div style="width: 18.18px; height: 18.18px; left: 138.88px; top: 3.79px; position: absolute; background: #A0616A"></div>
                    <div style="width: 18.68px; height: 57.70px; left: 144.18px; top: 29.79px; position: absolute; background: #533D7B"></div>
                    <div style="width: 19.69px; height: 64.88px; left: 152.26px; top: 23.48px; position: absolute; background: #3F3D56"></div>
                    <div style="width: 15.95px; height: 23.34px; left: 161.05px; top: 64.63px; position: absolute; background: #A0616A"></div>
                    <div style="width: 20.98px; height: 16.94px; left: 137.62px; top: -0px; position: absolute; background: #2F2E41"></div>
                    <div style="width: 27.07px; height: 68.70px; left: 127px; top: 22.97px; position: absolute; background: #3F3D56"></div>
                    <div style="width: 12.26px; height: 32.82px; left: 165.39px; top: 34.84px; position: absolute; background: #3F3D56"></div>
                    <div style="width: 25.72px; height: 31px; left: 139.45px; top: 51.35px; position: absolute; background: #F2F2F2"></div>
                    <div style="width: 20.70px; height: 7.87px; left: 131.56px; top: 64.69px; position: absolute; background: #A0616A"></div>
                    <div style="width: 14.08px; height: 40.39px; left: 122.02px; top: 31.81px; position: absolute; background: #3F3D56"></div>
                    <div style="width: 33.13px; height: 0.47px; left: 14.26px; top: 83.51px; position: absolute; background: #F2F2F2"></div>
                    <div style="width: 0.47px; height: 4.38px; left: 23.25px; top: 79.25px; position: absolute; background: #F2F2F2"></div>
                    <div style="width: 0.47px; height: 4.38px; left: 37.68px; top: 79.25px; position: absolute; background: #F2F2F2"></div>
                    <div style="width: 33.13px; height: 0.47px; left: 25.85px; top: 13.47px; position: absolute; background: #F2F2F2"></div>
                    <div style="width: 0.47px; height: 4.38px; left: 49.52px; top: 13.82px; position: absolute; background: #F2F2F2"></div>
                    <div style="width: 0.47px; height: 4.38px; left: 35.08px; top: 13.82px; position: absolute; background: #F2F2F2"></div>
                    <div style="width: 33.13px; height: 0.47px; left: 59.22px; top: 60.08px; position: absolute; background: #F2F2F2"></div>
                    <div style="width: 0.47px; height: 4.38px; left: 82.88px; top: 60.44px; position: absolute; background: #F2F2F2"></div>
                    <div style="width: 0.47px; height: 4.38px; left: 68.45px; top: 60.44px; position: absolute; background: #F2F2F2"></div>
                    <div style="width: 33.13px; height: 0.47px; left: 2.90px; top: 59.85px; position: absolute; background: #F2F2F2"></div>
                    <div style="width: 0.47px; height: 4.38px; left: 26.56px; top: 60.20px; position: absolute; background: #F2F2F2"></div>
                    <div style="width: 0.47px; height: 4.38px; left: 12.13px; top: 60.20px; position: absolute; background: #F2F2F2"></div>
                    <div style="width: 33.13px; height: 0.47px; left: 42.65px; top: 36.18px; position: absolute; background: #F2F2F2"></div>
                    <div style="width: 0.47px; height: 4.38px; left: 51.65px; top: 31.92px; position: absolute; background: #F2F2F2"></div>
                    <div style="width: 0.47px; height: 4.38px; left: 66.08px; top: 31.92px; position: absolute; background: #F2F2F2"></div>
                </div>
            </div>
            <div style="text-align: center; color: #3D4147; font-size: 18px; font-family: Poppins; font-weight: 300; word-wrap: break-word">Purchase Order</div>
        </div>
        <div style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
            <div style="width: 250.86px; height: 200px; position: relative">
                <div style="width: 200px; height: 200px; left: 49.97px; top: 0px; position: absolute; background: #2284FF; border-radius: 125px"></div>
                <div style="width: 250.86px; height: 180.34px; left: 0px; top: 10px; position: absolute">
                    <div style="width: 162.22px; height: 180.13px; left: 88.64px; top: 0px; position: absolute; background: #3F3D56"></div>
                    <div style="width: 161.53px; height: 0.69px; left: 88.98px; top: 14.32px; position: absolute; background: #3F3D56"></div>
                    <div style="width: 5.51px; height: 5.51px; left: 94.15px; top: 4.82px; position: absolute; background: #533D7B"></div>
                    <div style="width: 5.51px; height: 5.51px; left: 102.76px; top: 4.82px; position: absolute; background: #533D7B"></div>
                    <div style="width: 5.51px; height: 5.51px; left: 111.37px; top: 4.82px; position: absolute; background: #533D7B"></div>
                    <div style="width: 116.42px; height: 8.96px; left: 111.54px; top: 30.65px; position: absolute; background: #3F3D56"></div>
                    <div style="width: 54.42px; height: 5.51px; left: 145.24px; top: 69.43px; position: absolute; background: rgba(255, 255, 255, 0.12)"></div>
                    <div style="width: 82.66px; height: 5.51px; left: 145.24px; top: 78.73px; position: absolute; background: rgba(255, 255, 255, 0.12)"></div>
                    <div style="width: 21.35px; height: 15.84px; left: 111.59px; top: 68.92px; position: absolute; background: white"></div>
                    <div style="width: 54.42px; height: 5.51px; left: 145.24px; top: 102.15px; position: absolute; background: rgba(255, 255, 255, 0.12)"></div>
                    <div style="width: 82.66px; height: 5.51px; left: 145.24px; top: 111.45px; position: absolute; background: rgba(255, 255, 255, 0.12)"></div>
                    <div style="width: 21.35px; height: 15.84px; left: 111.59px; top: 101.64px; position: absolute; background: white"></div>
                    <div style="width: 54.42px; height: 5.51px; left: 145.24px; top: 134.87px; position: absolute; background: white"></div>
                    <div style="width: 82.66px; height: 5.51px; left: 145.24px; top: 144.17px; position: absolute; background: white"></div>
                    <div style="width: 21.35px; height: 15.84px; left: 111.59px; top: 134.36px; position: absolute; background: white"></div>
                    <div style="width: 11px; height: 10.15px; left: 116.77px; top: 71.76px; position: absolute; background: #FF4A4A"></div>
                    <div style="width: 11px; height: 10.15px; left: 116.77px; top: 104.48px; position: absolute; background: #FF4A4A"></div>
                    <div style="width: 21.35px; height: 15.84px; left: 41.62px; top: 93.29px; position: absolute; background: #3F3D56"></div>
                    <div style="width: 11px; height: 10.15px; left: 46.79px; top: 96.13px; position: absolute; background: #FF4A4A"></div>
                    <div style="width: 7.35px; height: 16.12px; left: 40.21px; top: 160.26px; position: absolute; background: #FFB8B8"></div>
                    <div style="width: 12.38px; height: 4.78px; left: 55.79px; top: 177.27px; position: absolute; transform: rotate(166.62deg); transform-origin: 0 0; background: #2F2E41"></div>
                    <div style="width: 16.53px; height: 32.21px; left: 31.65px; top: 135.50px; position: absolute; background: #2F2E41"></div>
                    <div style="width: 5.81px; height: 15.19px; left: 20.01px; top: 161.29px; position: absolute; background: #FFB8B8"></div>
                    <div style="width: 12.38px; height: 4.78px; left: 31.54px; top: 180.13px; position: absolute; transform: rotate(179.99deg); transform-origin: 0 0; background: #2F2E41"></div>
                    <div style="width: 11.53px; height: 31.58px; left: 15.27px; top: 139.44px; position: absolute; background: #2F2E41"></div>
                    <div style="width: 16.92px; height: 16.92px; left: 12.57px; top: 59.51px; position: absolute; background: #FFB8B8"></div>
                    <div style="width: 38.85px; height: 65.47px; left: 5.17px; top: 78.81px; position: absolute; background: #533D7B"></div>
                    <div style="width: 14.80px; height: 9.48px; left: 30.64px; top: 102.99px; position: absolute; background: #FFB8B8"></div>
                    <div style="width: 22.22px; height: 26.90px; left: 17.79px; top: 83.35px; position: absolute; background: #2F2E41"></div>
                    <div style="width: 23.46px; height: 24.64px; left: 7.29px; top: 54.50px; position: absolute; background: #2F2E41"></div>
                    <div style="width: 66.82px; height: 0.69px; left: -0px; top: 179.65px; position: absolute; background: #CCCCCC"></div>
                </div>
            </div>
            <div style="text-align: center; color: #3D4147; font-size: 18px; font-family: Poppins; font-weight: 300; word-wrap: break-word">Invoice</div>
        </div>
        <div style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
            <div style="width: 209.32px; height: 200px; position: relative">
                <div style="width: 200px; height: 200px; left: 9.32px; top: 0px; position: absolute; background: #6FCF97; border-radius: 125px"></div>
                <div style="width: 205.24px; height: 183.63px; left: 0px; top: 8px; position: absolute">
                    <div style="width: 126.52px; height: 124.34px; left: 0px; top: 13.97px; position: absolute; background: #E6E6E6"></div>
                    <div style="width: 117.53px; height: 115.34px; left: 4.50px; top: 18.47px; position: absolute; background: white"></div>
                    <div style="width: 44.67px; height: 15.80px; left: 16.03px; top: 44.47px; position: absolute; background: #E6E6E6"></div>
                    <div style="width: 44.67px; height: 15.80px; left: 19.43px; top: 56.60px; position: absolute; background: #E6E6E6"></div>
                    <div style="width: 44.67px; height: 15.80px; left: 22.78px; top: 68.59px; position: absolute; background: #E6E6E6"></div>
                    <div style="width: 44.67px; height: 15.80px; left: 26.18px; top: 80.73px; position: absolute; background: #E6E6E6"></div>
                    <div style="width: 11.98px; height: 6.30px; left: 78.81px; top: 36.36px; position: absolute; background: #E6E6E6"></div>
                    <div style="width: 11.98px; height: 6.30px; left: 82.14px; top: 48.26px; position: absolute; background: #E6E6E6"></div>
                    <div style="width: 11.98px; height: 6.30px; left: 85.48px; top: 60.15px; position: absolute; background: #E6E6E6"></div>
                    <div style="width: 11.97px; height: 6.30px; left: 88.81px; top: 72.05px; position: absolute; background: #E6E6E6"></div>
                    <div style="width: 15.27px; height: 8.03px; left: 91.58px; top: 92.04px; position: absolute; background: #533D7B"></div>
                    <div style="width: 77.21px; height: 0.69px; left: 29.48px; top: 105.62px; position: absolute; transform: rotate(-15.64deg); transform-origin: 0 0; background: #E6E6E6"></div>
                    <div style="width: 14.36px; height: 24.44px; left: 164.15px; top: 150.66px; position: absolute; background: #A0616A"></div>
                    <div style="width: 19.33px; height: 12.19px; left: 162.01px; top: 171.44px; position: absolute; background: #2F2E41"></div>
                    <div style="width: 9.05px; height: 23.66px; left: 143.06px; top: 154.06px; position: absolute; background: #A0616A"></div>
                    <div style="width: 19.62px; height: 7.79px; left: 133.97px; top: 175.80px; position: absolute; background: #2F2E41"></div>
                    <div style="width: 41.03px; height: 76.60px; left: 137.10px; top: 92.93px; position: absolute; background: #2F2E41"></div>
                    <div style="width: 33.05px; height: 71.01px; left: 136.27px; top: 31.61px; position: absolute; background: #533D7B"></div>
                    <div style="width: 24.58px; height: 24.58px; left: 133.06px; top: 10.68px; position: absolute; transform: rotate(-28.66deg); transform-origin: 0 0; background: #A0616A"></div>
                    <div style="width: 15.46px; height: 25.25px; left: 122.74px; top: 88.72px; position: absolute; background: #A0616A"></div>
                    <div style="width: 26.86px; height: 68.09px; left: 124.18px; top: 35.43px; position: absolute; background: #533D7B"></div>
                    <div style="width: 27.38px; height: 29.08px; left: 136.17px; top: -0px; position: absolute; background: #2F2E41"></div>
                    <div style="width: 88.57px; height: 0.72px; left: 116.67px; top: 182.89px; position: absolute; background: #3F3D56"></div>
                </div>
            </div>
            <div style="text-align: center; color: #3D4147; font-size: 18px; font-family: Poppins; font-weight: 300; word-wrap: break-word">Receipt</div>
        </div>
    </div>
</div>
<div style="width: 820.11px; height: 42px; justify-content: flex-start; align-items: flex-start; gap: 7px; display: inline-flex">
    <div style="width: 202px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 5px; display: inline-flex">
        <div style="color: #ACACAC; font-size: 14px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Username</div>
        <div style="color: #3D4147; font-size: 14px; font-family: Roboto; font-weight: 600; word-wrap: break-word">information@quotease.co</div>
    </div>
    <div style="width: 611.11px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 5px; display: inline-flex">
        <div style="color: #ACACAC; font-size: 14px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Role</div>
        <div style="color: #3D4147; font-size: 14px; font-family: Roboto; font-weight: 600; word-wrap: break-word">User</div>
    </div>
</div>
<div style="width: 60px; height: 60px; position: relative">
    <div style="width: 60px; height: 60px; left: 0px; top: 0px; position: absolute; border-radius: 9999px; border: 0.53px rgba(83, 61, 123, 0.50) solid"></div>
    <div style="width: 53px; height: 33.29px; left: 3.48px; top: 13.55px; position: absolute">
        <div style="left: 0px; top: 18.52px; position: absolute; text-align: center; color: #958EAF; font-size: 3.27px; font-family: Poppins; font-weight: 300; word-wrap: break-word">Easy way to Quote your business</div>
        <div style="left: 1.64px; top: 5.39px; position: absolute"><span style="color: #533D7B; font-size: 10.24px; font-family: Poppins; font-weight: 700; word-wrap: break-word">Quot</span><span style="color: #533D7B; font-size: 10.24px; font-family: Poppins; font-weight: 300; word-wrap: break-word">Ease</span></div>
        <img style="width: 30.18px; height: 33.29px; left: 11.40px; top: 0px; position: absolute" src="https://via.placeholder.com/30x33" />
    </div>
</div>
</html>
